.idea
[Bb]uild
[Ll]ibrary
[Tt]emp
[Ll]ogs
obj
.vs
.vsconfig
Assets/OBBOut
Assets/OBBOut.meta
ExportedObj/
**/*.csproj
**/*.csproj.meta
*.sln
Assets/_sdk/Firebase/Plugins/link.*
ProjectSettings/AndroidResolverDependencies.xml
Assets/google-services-desktop.json
Assets/google-services-desktop.json.meta
ProjectSettings/GraphicsSettings.asset
Assets/Firebase.meta
SteamingAssetsBackup
buglybin
cp_buglyQqUploadSymbolLib.jar
cp_buglySymbolAndroid.jar